src/MauiAppGDM8342BasicConfig/.vs/
src/MauiAppGDM8342BasicConfig/MauiAppGDM8342BasicConfig/bin/
src/MauiAppGDM8342BasicConfig/MauiAppGDM8342BasicConfig/obj/
src/GDM8342L1MauiApp/.vs/
src/GDM8342L1MauiApp/GDM8342L1MauiApp/bin/
src/GDM8342L1MauiApp/GDM8342L1MauiApp/obj/
